:root {
  --color-primary: #f02222;
  --color-secondary: #292727;
  --color-background-light: #f2f2f2;
  --color-white: #fff;
  --color-black: #000;
}
/*Typography*/
body {
  font-family: poppins, Arial, Helvetica, sans-serif;
  margin: 77px 0 0;
}
html {
  font-size: 62.5%;
}
h2 {
  color: var(--color-secondary);
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}
/*Buttons*/
.btn {
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  height: 40px;
  text-transform: uppercase;
  width: 145px;
}
.btn--primary {
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  transition: background 0.3s;
}
.btn--secondary {
  transition: background 0.3s, color 0.3s;
}
.btn--primary:hover {
  background: var(--color-secondary);
}
.btn--secondary:hover {
  background: var(--color-primary);
  color: var(--color-white);
}
/*Grids*/
.grid {
  display: grid;
  justify-content: center;
  justify-items: center;
}
.grid--2x2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media screen and (min-width: 575px) {
  .grid--2x3 {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  .grid--3x2 {
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 150px);
  }
}
/*Line Decoration*/
.line__container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.line {
  height: 3px;
  width: 60px;
}
.line--primary {
  background: var(--color-primary);
}
.line--secondary {
  background: #a8a8a8;
}
/*Layout*/
main {
  margin: 0 15px;
}
/*Lists*/
.list {
  list-style: none;
}
/*Links*/
a {
  text-decoration: none;
}
/*Navigation Bar*/
.navBar {
  background: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.nav__logo {
  padding: 25px;
}
.nav__menu {
  align-self: center;
  color: var(--color-primary);
  font-size: 23px;
  padding-right: 25px;
}
.nav__list-container {
  width: 100%;
  display: none;
}
.nav__list {
  background: var(--color-secondary);
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.nav__list-item {
  padding: 1.3rem;
  border-bottom: 1px solid #383636;
}
.nav__list-item > a {
  color: var(--color-white);
  transition: color 0.3s;
}
.nav__list-item > a:hover {
  color: var(--color-primary);
}
@media screen and (min-width: 975px) {
  .navBar {
    flex-wrap: nowrap;
  }
  .nav__logo {
    padding-left: 50px;
  }
  .nav__menu {
    display: none;
  }
  .nav__list-container {
    display: flex;
    width: auto;
  }
  .nav__list {
    align-self: center;
    background: var(--color-white);
    display: flex;
    font-size: 1.6rem;
  }
  .nav__list-item {
    border-bottom: none;
    padding-left: 20px;
  }
  .nav__list-item > a {
    color: var(--color-black);
  }
  .nav__list-icon {
    display: flex;
    align-self: center;
    font-size: 15px;
    padding-right: 80px;
  }
  .nav__icon {
    margin-left: 30px;
    cursor: pointer;
    transition: color 0.3s;
  }
  .nav__icon:hover {
    color: var(--color-primary);
  }
}
/*Hero*/
.hero__img {
  background: 50% 50% url(../Images/necklace.jpg) no-repeat;
  height: 450px;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.hero__container {
  margin-top: 100px;
}
.hero__trend,
.hero__sale {
  text-transform: uppercase;
}
.hero__trend {
  font-size: 2rem;
  font-weight: 400;
}
.hero__collection {
  font-size: 4.3rem;
  font-weight: 600;
  letter-spacing: -1px;
}
.hero__sale {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 15px 0 20px;
}
@media screen and (min-width: 768px) {
  .hero__img {
    height: 550px;
    justify-content: flex-start;
  }
  .hero__container {
    padding-left: 20px;
  }
  .hero__trend {
    font-size: 2.5rem;
  }
  .hero__collection {
    font-size: 5.3rem;
  }
  .hero__sale {
    font-size: 2rem;
  }
}
@media screen and (min-width: 975px) {
  .hero__img {
    height: 750px;
  }
  .hero__container {
    padding-left: 90px;
  }
}
/*Features*/
.feature {
  display: block;
  margin-top: 50px;
}
.feature__mens,
.feature__kids,
.feature__accessories,
.feature__womens {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature__mens,
.feature__womens {
  height: 600px;
}
.feature__kids,
.feature__accessories {
  height: 300px;
}
.feature__mens {
  background: 50% 50% url(../Images/Mens.jpg) no-repeat;
}
.feature__kids {
  background: 50% 50% url(../Images/kids.jpg) no-repeat;
  margin: 13px 0;
}
.feature__accessories {
  background: 50% 50% url(../Images/accessories.jpg) no-repeat;
  margin-bottom: 13px;
}
.feature__womens {
  background: 50% 50% url(../Images/people-4.jpg) no-repeat;
}
@media screen and (min-width: 575px) {
  .feature {
    display: grid;
  }
  .feature__mens,
  .feature__kids,
  .feature__accessories,
  .feature__womens {
    width: 250px;
  }
  .feature__mens,
  .feature__womens {
    height: 410px;
    grid-row: span 2;
  }
  .feature__kids,
  .feature__accessories {
    height: 200px;
    margin: 0;
  }
  .feature__accessories {
    grid-column: 2;
    grid-row: -3;
  }
}
@media screen and (min-width: 768px) {
  .feature__grid {
    grid-template-columns: auto;
  }
  .feature__womens {
    grid-column: 3;
  }
  .feature__kids {
    grid-column: 2;
  }
  .feature__accessories {
    grid-row: -2;
  }
  .feature__mens,
  .feature__kids,
  .feature__accessories,
  .feature__womens {
    width: 250px;
  }
  .feature__mens,
  .feature__womens {
    height: 311px;
  }
  .feature__kids,
  .feature__accessories {
    height: 150px;
  }
}
@media screen and (min-width: 975px) {
  .feature__grid {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 200px);
    gap: 15px;
  }
  .feature__mens,
  .feature__kids,
  .feature__accessories,
  .feature__womens {
    width: 300px;
  }
  .feature__womens,
  .feature__mens {
    height: 410px;
  }
  .feature__kids,
  .feature__accessories {
    height: 200px;
  }
}
/*Product*/
.product {
  margin-top: 50px;
}
/*Cards*/
.card {
  height: 400px;
  width: 200px;
  margin-top: 50px;
  transition: box-shadow 0.3s;
}
.card:hover {
  box-shadow: 0 0 20px 5px #7c7c7c;
}
.card__header {
  height: 40px;
  display: flex;
  align-items: center;
}
.card__new,
.card__sale {
  color: var(--color-white);
  font-size: 1.3rem;
  font-weight: 300;
  display: inline-block;
  padding: 5px 18px;
  margin-left: 20px;
}
.card__new {
  background: #6aba38;
}
.card__sale {
  background: var(--color-primary);
}
.card__body {
  text-align: center;
}
.card__img {
  background: 50% 50% url(../Images/pink.jpg) no-repeat;
  height: 150px;
}
.card__text {
  font-size: 1.5rem;
  margin: 15px 0;
}
.card__price {
  font-size: 1.8rem;
  color: var(--color-primary);
  margin-bottom: 15px;
}
.color--red,
.color--green,
.color--black {
  display: inline-block;
  height: 14px;
  width: 14px;
  border-radius: 7px;
}
.color--red {
  background: var(--color-primary);
}
.color--green {
  background: #6aba38;
  margin: 0 10px;
}
.color--black {
  background: var(--color-black);
}
.card__footer {
  height: 94px;
  display: flex;
  align-items: flex-end;
}
.card__btn {
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s, background 0.3s;
}
.card:hover .card__btn {
  opacity: 1;
}
@media screen and (min-width: 975px) {
  .card__container {
    display: flex;
    justify-content: space-evenly;
  }
}
/*Spotlight*/
.spotLight {
  align-items: center;
  background: var(--color-background-light);
  display: flex;
  height: 400px;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}
.spotLight__trend,
.spotLight__collection {
  color: var(--color-secondary);
}
.spotLight__trend {
  font-size: 2.3rem;
  font-weight: 200;
  margin-bottom: 2.5rem;
  letter-spacing: 1px;
}
.spotLight__collection {
  font-size: 5rem;
  font-weight: 500;
}
.spotLight__sale {
  font-size: 1.8rem;
  color: #4e4d4d;
  margin: 1.5rem 0 3rem;
}
/*Sale*/
.sale {
  margin-top: 50px;
}

.sale__list-container {
  text-align: center;
}
.sale__list {
  padding-left: 0;
  margin-top: 30px;
}
.sale__list-item {
  border: 1px solid #a8a8a8;
  color: var(--color-secondary);
  cursor: pointer;
  font-size: 1.3rem;
  margin-top: 1rem;
  padding: 1rem;
  transition: background 0.3s, color 0.3s;
}
.sale__list-item:hover {
  background: var(--color-primary);
  color: var(--color-white);
}
@media screen and (min-width: 675px) {
  .sale__list-item {
    display: inline-block;
    width: 10rem;
  }
}
